/* INTRO PAGE */

body#intro #header {
	background: #423d37 url('../graphics/photofiles-banner.jpg') repeat-y 0 0; 
	color: white;
	height: 237px;
}
p#copyright {
	font-family: Arial, sans-serif;
	font-size: .6em;
	text-align: center;
	padding-top: 20px;
}
div.marqueewrap {
	clear: left; 
	float: left;
	width: 100%;
	zoom: 1;
}
div.marqueewrap div {
	display: inline;
	float: left; 
	margin-right: 4%; 
	position: relative;
	width: 28.5%;
}
div.marqueewrap h2 {
	height: 3.8em;
	margin-right: 4%;
	padding-right: 55px;
	position: relative;
	width: 100%;
}
div.marqueewrap h2 a,
div.marqueewrap h2 span {
	bottom: .2em;
	position: absolute;
}
body#intro div.col h2 {
	height: 40px;
}
body#intro div.col {
	position: relative;
}
body#intro img.marqueeimage {
	position: absolute;
	right: 20px;
	top: 0;
}
	
